.jumbotron {
	background-color: #428bca
}

p {
	color: white;
	font: 18px arial, sans-serif, Helvetica, Helvetica Neue;
}



body {
	Background: #777;
	content: #ebebeb;
}

h1 {
	color: #428bca;
}

header {
	color: green;
}

